.App {
  text-align: center;
  background-color:blueviolet;
}

#searchBar{
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.searchBar{
  width: 13vw;

}

.headerTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerBottom{
  margin-top: 5vh;
}

header{
  margin-right: 0;
}

.iconos{
  display: flex;
  flex-direction: row;
}

.icono{
  text-decoration: none;
  color: black;
}

.cuerpo{/*
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 25vw 25vw 25vw 25vw 25vw 25vw;
  column-gap: 1.5vw;*/
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5vw;
  justify-content: space-between;
}

.producto{
  display: inline;
  height: 37vw;
  width: 23vw;
  border-radius: 2px;
}

.productoDetail{
  display: flex;
  flex-direction: row;
}

.canastaConProductos{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: 31vw;
  margin-right: 31vw;
  margin-bottom: 1vw;
}






