.App {
  text-align: center;
  background-color:blueviolet;
}

#searchBar{
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.slash{
  border-style: solid;
  border-bottom: 5px;
  border-color: lightgrey;
}

.searchBar{
  width: 13vw;

}

.headerTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerBottom{
  margin-top: 5vh;
}

header{
  margin-right: 0;
}

.iconos{
  display: flex;
  flex-direction: row;
}

.icono{
  text-decoration: none;
  color: black;
}


