.App {
  text-align: center;
  background-color:blueviolet;
}

#searchBar{
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.searchBar{
  width: 13vw;
}

.logo{
  position: absolute;
  margin-left: 34vw;
  font-size: 50px;
  font-family: 'Aboreto', cursive;
}

.headerTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerBottom{
  margin-top: 5vh;
}

header{
  margin-left: 2vw;
  margin-right: 2vw;
}

.iconos{
  display: flex;
  flex-direction: row;
}

.icono{
  text-decoration: none;
  color: black;
}



.carritoConProductos{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: 31vw;
  margin-right: 31vw;
  margin-bottom: 1vw;
}

.carritoVacio{
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  margin-right: 30vw;
}

#resumen{
  margin-left: 27vw;
  margin-right: 27vw;
}






