
.cuerpo{/*
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 25vw 25vw 25vw 25vw 25vw 25vw;
    column-gap: 1.5vw;*/
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5vw;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
  }

.producto{
    display: flex;
    flex-direction: column;
    height: 38vw;
    width: 23vw;
    border-radius: 2px;
    transition: all .5s;
}
.producto:hover{
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 50%);
}
  
.descripcion{
    position:absolute;
    bottom: 0px;
    
}